
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AnnounceCtrl">
  <div class="col w-md bg-light dk b-r bg-auto">
    <div class="wrapper b-b bg">
      <button class="btn btn-sm btn-default pull-right visible-sm visible-xs" ui-toggle-class="show" target="#email-menu"><i class="fa fa-bars"></i></button>
      <a ui-sref="app.announce.new" class="btn btn-sm btn-danger w-xs font-bold">Post New</a>
    </div>
    <div class="wrapper hidden-sm hidden-xs" id="email-menu">
      <div class="wrapper">Offices</div>
      <ul class="nav nav-pills nav-stacked nav-sm">
        <li ng-repeat="label in labels" ui-sref-active="active">
          <a ui-sref="app.mail.list({fold:label.filter})">
            <i class="fa fa-fw fa-circle text-muted" color="{{label.color}}" label-color ></i>
            {{label.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div ui-view ></div>
  </div>
</div>
