<div class="modal-over bg-black">
  <div class="container w-xl w-auto-xs"  style="margin-top: 180px; margin-bottom: 80px" ng-init="app.settings.container = false;">
    <div class="m-b-lg">
      <div class="wrapper text-center">
        <img src="img/logo2.png">
      </div>
      <form name="reset" ng-init="isCollapsed=true">
        <div class="list-group list-group-sm">
          <div class="list-group-item">
            <input type="email" placeholder="Email" ng-model="email" class="form-control no-border" required>
          </div>
        </div>
        <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block"  ng-click="isCollapsed = !isCollapsed" >Send</button>
        <div class="text-center m-t m-b"><a ui-sref="access.signin">Back</a></div>
        <div class="line line-dashed"></div>
      </form>
      <div collapse="isCollapsed" class="m-t">
        <div class="alert alert-success">
          <p>A reset link sent to your email address, please check it in 7 days. <a ui-sref="access.signin" class="btn btn-sm btn-success">Sign in</a></p>
        </div>
      </div>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
      {% include 'blocks/page_footer.html' %}
    </div>
  </div>
</div>
