<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Prospectives</h1>
</div>
 <div class="wrapper-md">
  <a href="#/app/prospective/registeration">
    <div class="row">
      <div class="col-sm-6" style="width: 350px;">
          <div class="panel b-a">
            <div class="panel-heading bg-info dk no-border wrapper-lg" style="background-color: #cc3636; ">
              
            </div>
            <div class="text-center m-b clearfix">
              <div class="thumb-lg avatar m-t-n-xxl">
                <img src="img/register.png" alt="..." class="b b-3x b-white">
                <div class="h4 font-thin m-t-sm"style="margin-left:-20px; padding:10px;">REGISTERATION</div>
              </div>
            </div>
            
        </div>
      </div>
    </a>

       <a href="#/app/prospective/update-account">  
        <div class="col-sm-6" style="width: 350px;">
          <div class="panel b-a">
            <div class="panel-heading bg-info dk no-border wrapper-lg" style=" background-color:#a9a9a9;">
              
            </div>
            <div class="text-center m-b clearfix">
              <div class="thumb-lg avatar m-t-n-xxl">
                <img src="img/update-account.png" alt="..." class="b b-3x b-white">
                <div class="h4 font-thin m-t-sm"style="margin-left:-35px; padding:10px;">UPDATE ACCOUNT</div>
              </div>
            </div>
            
        </div>
      </div>

    </div>
   </a> 
      
      <a href="#/app/prospective/registeration">         
       <div class="row">
        <div class="col-sm-6" style="margin-top:10px; width: 350px">
          <div class="panel b-a">
            <div class="panel-heading bg-info dk no-border wrapper-lg" style="background-color:#207c7c;">
              
            </div>
            <div class="text-center m-b clearfix">
              <div class="thumb-lg avatar m-t-n-xxl">
                <img src="img/take-exam.png" alt="..." class="b b-3x b-white">
                <div class="h4 font-thin m-t-sm" style="padding:10px;">TAKE EXAM</div>
              </div>
            </div>
            
          </div>
        </div>
      </a>
          <a href="#/app/prospective/registeration">
           <div class="col-sm-6"style="margin-top:10px; width: 350px">
          <div class="panel b-a">
            <div class="panel-heading bg-info dk no-border wrapper-lg">
              
            </div>
            <div class="text-center m-b clearfix">
              <div class="thumb-lg avatar m-t-n-xxl">
                <img src="img/check-status.png" alt="..." class="b b-3x b-white">
                <div class="h4 font-thin m-t-sm" style="margin-left:-25px; padding:10px;">CHECK STATUS</div>
              </div>
            </div>
          </a>  
        </div>
      </div>
      </div>



