<div class="wrapper">
                        <article class="grid_12">
                          <div class="box">
                          <div id="div_result"></div>
                            <article style="" class="grid_4 alpha">

                              <div class="pad_box1">
                                <h2 class="ind1" id="msg_tcid">Update Profile</h2> 
                                <form name="update">
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="lastName" id="lastName" placeholder="Surname" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="firstName" id="firstName" placeholder="Other Name" class="form-control">
                                </div>
                                
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="emailAddress" id="emailAddress" placeholder="Email Address" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="facebookId" id="facebookId" placeholder="Facebook Id" class="form-control">
                                </div>

                                <div class="form-group">
                                <label for="date of birth">Date of Birth</label><br>
                                        <div class="col-sm-4">
                                            <select name="birthDay" style="width: 110%" id="birthDay" class="form-control">
                                              <option value="">DD</option>
                                              <option value="01">01</option>
                                              <option value="02">02</option>
                                              <option value="03">03</option>
                                              <option value="04">04</option>
                                              <option value="05">05</option>
                                              <option value="06">06</option>
                                              <option value="07">07</option>
                                              <option value="08">08</option>
                                              <option value="09">09</option>
                                              <option value="10">10</option>
                                              <option value="11">11</option>
                                               <option value="12">12</option>

                                              <option value="13">13</option>
                                              <option value="14">14</option>
                                              <option value="15">15</option>
                                              <option value="16">16</option>
                                              <option value="17">17</option>
                                              <option value="18">18</option>
                                              <option value="19">19</option>
                                              <option value="20">20</option>
                                              <option value="21">21</option>
                                              <option value="22">22</option>
                                              <option value="23">23</option>
                                               <option value="24">24</option>

                                              <option value="25">25</option>
                                              <option value="26">26</option>
                                              <option value="27">27</option>
                                              <option value="28">28</option>
                                              <option value="29">29</option>
                                              <option value="30">30</option>
                                              <option value="31">31</option>

                                          </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="birthMonth" id="birthMonth" style="width: 110%" class="form-control">
                                              <option value="">MM</option>
                                              <option value="01">01</option>
                                              <option value="02">02</option>
                                              <option value="03">03</option>
                                              <option value="04">04</option>
                                              <option value="05">05</option>
                                              <option value="06">06</option>
                                              <option value="07">07</option>
                                              <option value="08">08</option>
                                              <option value="09">09</option>
                                              <option value="10">10</option>
                                              <option value="11">11</option>
                                               <option value="12">12</option>
                                          </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="birthYear" id="birthYear" style="width: 140%" class="form-control">
                                              <option value="">YYYY</option>
                                              <option value="2005">2005</option>
                                              <option value="2004">2004</option>
                                              <option value="2003">2003</option>
                                              <option value="2002">2002</option>
                                               <option value="2001">2001</option>
                                              <option value="2000">2000</option>
                                              <option value="1999">1999</option>
                                              <option value="1998">1998</option>

                                               <option value="1997">1997</option>
                                              <option value="1996">1996</option>
                                              <option value="1995">1995</option>
                                              <option value="1994">1994</option>

                                               <option value="1993">1993</option>
                                              <option value="1992">1992</option>
                                              <option value="1991">1991</option>
                                              <option value="1990">1990</option>

                                               <option value="1989">1989</option>
                                              <option value="1988">1988</option>
                                              <option value="1987">1987</option>
                                              <option value="1986">1986</option>

                                               <option value="1985">1985</option>
                                              <option value="1984">1984</option>
                                          </select>
                                        </div>
                                    </div>
                                
                              </div>
                            </article>
													<article class="grid_4">
															<div class="pad_box1">
                                <h2 class="ind1">&nbsp;</h2>
                                <div class="form-group">
                                <input type="text"autocomplete="off" name="matricNumber" id="matricNumber" placeholder="Matric Number" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="programme" id="programme" placeholder="Programme" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="roomHall" id="roomHall" placeholder="Room Hall" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="roomNumber" id="roomNumber" placeholder="Room Number" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="originState" id="originState" placeholder="State of Origin" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="originResidence" id="originResidence" placeholder="State of Residence" class="form-control">
                                </div>
                              </div>
														</article>

                            <!--<article class="grid_4">
                              <div style="margin-top: 90px" class="pad_box1">
                                <h3 class="ind1">Manage Profile</h3>
                                <p>View and Edit your profile</p>
                                
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="matric" id="matric" placeholder="Matric Number" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="text" autocomplete="off" name="tcid" id="tcid" placeholder="TCID" class="form-control">
                                
                              </div>

                              <button type="submit" id="profileSubmit" class="btn btn-success normal Button">Submit</button>
                            </article> -->


                            <article style="" class="grid_4 omega">
                              <div class="pad_box2">
                                <h2 class="ind">&nbsp;</h2>
                                 <div class="form-group">
                                <select name="gender" id="gender" class="form-control">
                                <option value="">Select Gender...</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                </select>
                                </div>
                               <div class="form-group">
                                <select name="subUnit" id="subUnit" class="form-control">
                                <option value="">Select Subunit...</option>
                                <option value="Audio">Audio</option>
                                <option value="Visual">Visual</option>
                                </select>
                                </div>
                                <div class="form-group">
                                <select name="college" id="college" class="form-control">
                                <option value="">Select College...</option>
                                <option value="CAS">CAS</option>
                                <option value="CBS">CBS</option>
                                <option value="CSE">CSE</option>
                                </select>
                                </div>
                                <div class="form-group">
                                <select name="level" id="level" class="form-control">
                                <option value="">Select Level...</option>
                                <option value="100">100 Lvl</option>
                                <option value="200">200 Lvl</option>
                                <option value="300">300 Lvl</option>
                                <option value="400">400 Lvl</option>
                                <option value="500">500 Lvl</option>
                                </select>
                                </div>
                                <div class="form-group">
                                <select name="role" id="role" class="form-control">
                                <option value="">Select Role...</option>
                                <option value="Executive">Executive</option>
                                <option value="Member">Member</option>
                                <option value="Probation">Probation</option>
                                </select>
                                </div>
                                   <div class="box-footer" style="text-align: right"> 
                                    <button type="reset" class="btn btn-warning normal Button">Reset</button>&nbsp;<button type="submit" id="profileSubmit" class="btn btn-success normal Button">Submit</button>
                                    <br/>
                                     <img src="images/loading.gif" id="LoadingImage" style="display:none" />

                                    </div>
                                    </form>
                              </div>
                            </article>