<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Please Fill Correctly</h1>
</div>

<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Bio Data Registeration</div>
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-md-4">             
                  <div class="form-group">
                     <label>Surname<span class="required">*</span></label>
                     <input type="text" class="form-control" placeholder="">
                  </div>
                </div>

      
                <div class="col-md-4">             
                  <div class="form-group">
                     <label>Firstname Name<span class="required">*</span></label>
                     <input type="text" class="form-control" placeholder="">
                  </div>
               </div> 

                <div class="col-md-4">             
                  <div class="form-group">
                     <label>Other Name<span class="required">*</span></label>
                     <input type="text" class="form-control" placeholder="">
                  </div>
                 </div>
              </div> <!-- //end of first row--> 
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Gender: <span class="required">*</span></label>
                          <select class="form-control" required name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                    </div>
                  </div>  
                  <div class="form-group">
                    <div class="col-md-4">
                              <label>State of Origin<span class="required">*</span></label>
                             <input type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                       
                                 <label >Date Of Birth</label>
                          <div class="col-md-4" ng-controller="DatepickerDemoCtrl">
                              <div class="input-group w-md">
                                 <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                               <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
                              </div>                          
                          </div>                                                                                     
                    </div> 
                  </div>
                </div>
                <div class="row">           
                    <div class="form-group">
                      <div class="col-md-4">      
                           <label>State of Origin<span class="required">*</span></label>
                          <input type="text" class="form-control" placeholder="">
                      </div>                  
                    </div>
                    <div class="form-group">
                      <div class="col-md-4">            
                                <label>State of Residence<span class="required">*</span></label>
                                <input type="text" class="form-control" placeholder="">
                      </div> 
                    </div>
                  
                    <div class="form-group">
                      <div class="col-md-4">      
                                 <label>Phone Number<span class="required">*</span></label>
                                  <input type="text" class="form-control" placeholder="">
                      </div>                     
                    </div>
                </div>  
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-4">         
                             <label>Facebook ID<span class="required">*</span></label>
                              <input type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-4">           
                              <label>Home Address<span class="required">*</span></label>
                                  <textarea name="address" id="address" required class="form-control required"></textarea></div>
                      </div>
                  </div>
                </div>
             </form>
          </div>
        </div>
      </div>
    </div>
 </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Universitty Identity</div>
          <div class="panel-body"> 
            <form role="form">
                <div class="row"> 
              <div class="col-md-4">
                <div class="form-group">
                           <label >College: <span class="required">*</span></label>
                    <select class="form-control required" required name="college">
                            <option value="">-- Select College --</option>
                            <option value="CAS">College of Agricultural Science</option>
                            <option value="CBS">College of Business and Social Sciences</option>
                            <option value="CSE">College of Science and Engineering</option>
                    </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">    
                  <label>Programme: <span class="required">*</span></label>
                  <input required type="text" class="form-control required">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">    
                  <label>Matriculation Number: <span class="required">*</span></label>
                  <input required type="text" class="form-control required">
                </div>
              </div>
                </div>
                <div class="row">
                 <div class="col-md-4">
                    <div class="form-group">  
                      <label> <span class="required">*</span></label>
                      <textarea required name="activities" class="form-control required"></textarea> <span class="help-block">Hobbies or other activities</span>
                    </div>                  
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                            <label>Other School Groups: <span class="required">*</span></label>
                            <textarea required name="others" class="form-control required"></textarea> <span class="help-block">List all groups or unit you are, if available</span>
                    </div>
                  </div>
                </div>              
            </form>
          </div>
         </div> 
      </div>     
    </div>
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Spiritual Identity</div>
          <div class="panel-body"> 
            <form role="form">
              <div class="row">   
                  <div class="col-md-4">
                    <div class="form-group">
                              <label>Place of worship: <span class="required">*</span></label>
                             <input required type="text" name="worship" id="worship" class="form-control required">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                            <label>Denomination: <span class="required">*</span></label>
                            <input required type="text" name="dem" id="dem" class="form-control required">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">        
                            <label >Year joined church: <span class="required">*</span></label>
                            <input required type="text" id="joined" name="joined" class="form-control required">
                    </div>
                  </div>
               </div>              
                <div class="row">
                    <div class="col-md-4">                    
                      <div class="form-group">
                            <label>Post held in church: <span class="required">*</span></label>
                         <input required type="text" id="post" name="post" class="form-control required">                    
                      </div>   
                    </div>     
                    <div class="col-md-4">                    
                      <div class="form-group">
                         <label>Date of New birth: <span class="required">*</span></label>
                          <input required type="text" id="newbirth" name="newbirth" class="form-control required">
                      </div>
                    </div>    
                    <div class="col-md-2">                        
                      <div class="form-group">
                            <label>Are you baptized?<span class="required">*</span> </label>
                              <select class="form-control required" required id="baptized" name="baptized">
                                <option value="No">No</option>
                                <option value="Yes">Yes</option>
                              </select>                 
                      </div>
                    </div>
               </div>        
            </form>
          </div>
        </div> 
      </div>     
    </div>
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Service Status</div>
          <div class="panel-body"> 
            <form role="form">
              <div class="row"> 
                <div class="form-group">
                  <div class="col-md-4">
                         <label>Have you served in the technical crew in your church, if yes which department did you serve under in the unit: <span class="required">*</span></label>
                    <div class="col-md-12 ">
                       <textarea required name="ss1" id="ss1" class="form-control required"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Why do you want to Join the technical unit: <span class="required">*</span></label>
                    <div class="col-md-12">
                        <textarea required name="ss2" id="ss2" class="form-control required"></textarea>
                    </div>
                  </div>
                </div>
                        <label>Which sub-unit do you prefer in technical unit<span class="required">*</span></label>
                <div class="col-md-4">
                  <div class="form-group">                     
                            <select class="form-control required" required id="subunit" name="subunit">
                              <option value="Audio">Audio</option>
                              <option value="Visual">Visual</option>
                            </select> 
                  </div>
                </div>                   
              </div>   
              <div class="row">
                <div class="col-md-4">
                   <br><label>Are you ready to serve in any arm of this unit: <span class="required">*</span></label>
                  <div class="form-group">  
                </div>                     
                <div class="col-md-4">      
                        <select class="form-control"id="ss3" required name="ss3">
                             <option value="No">No</option>
                             <option value="Yes">Yes</option>
                        </select>
                </div>
              </div>              
            </form>
          </div>
        </div> 
      </div>     
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Terms and Conditions</div>
          <div class="panel-body"> 
            <form role="form">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                              <textarea name="regular" disabled class="form-control">I HEREBY AGREE THAT EVERY INFORMATION GIVEN ABOVE IS RIGHT, AND I STAND TO BE RUSTICATED IF THEY ARE FOUND WRONG</textarea>
                                         &nbsp;
                                         &nbsp;
                                         &nbsp;
                              <input type="checkbox" name="terms" required value="Agreed" style="text-align: left; margin-left: 20px;"> I agree
                                      
                    
                    <div class="form-actions">
                             <input type="submit" id="submit" name="submit" value="Submit Form" class="btn btn-primary pull-right">
                    </div>
                  </div>
                </div>      
              </div>
            </form>
          </div>
        </div>
      </div>  
    </div>
  </div>









</div>
