    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Please Fill Correctly</h1>
    </div>   

<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Update Profile</div>
          <div class="panel-body">
            <form role="form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                                <label>Surname</label>
                                <input type="text" autocomplete="off" name="lastName" id="lastName" class="form-control">
                  </div> 
                </div>
                <div class="col-md-4">
                  <div class="form-class">

                               <label>Other Name</label>
                                <input type="text" autocomplete="off" name="firstName" id="firstName"class="form-control">
                  </div>
                </div>               
                <div class="col-md-4">
                 <div class="form-group">
                      <label>Email Address</label>
                                <input type="text" autocomplete="off" name="emailAddress" id="emailAddress" class="form-control">
                  </div>
                </div> 
                <div class="col-md-4">
                  <div class="form-group">
                     <label>Phone Number</label>
                     <input type="text" autocomplete="off" name="phoneNumber" id="phoneNumber" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                          <label>Facebook ID</label>
                          <input type="text" autocomplete="off" name="facebookId" id="facebookId"  class="form-control">
                  </div>
                </div> 
                <div class="col-md-3">
                  <div class="form-group">

                    <label for="date of birth">Date of Birth</label><br>
                                        

                                        <div class="col-sm-4">
                                            <select name="birthDay" style="width: 110%" id="birthDay" class="form-control">
                                              <option value="">DD</option>
                                              <option value="01">01</option>
                                              <option value="02">02</option>
                                              <option value="03">03</option>
                                              <option value="04">04</option>
                                              <option value="05">05</option>
                                              <option value="06">06</option>
                                              <option value="07">07</option>
                                              <option value="08">08</option>
                                              <option value="09">09</option>
                                              <option value="10">10</option>
                                              <option value="11">11</option>
                                               <option value="12">12</option>

                                              <option value="13">13</option>
                                              <option value="14">14</option>
                                              <option value="15">15</option>
                                              <option value="16">16</option>
                                              <option value="17">17</option>
                                              <option value="18">18</option>
                                              <option value="19">19</option>
                                              <option value="20">20</option>
                                              <option value="21">21</option>
                                              <option value="22">22</option>
                                              <option value="23">23</option>
                                               <option value="24">24</option>

                                              <option value="25">25</option>
                                              <option value="26">26</option>
                                              <option value="27">27</option>
                                              <option value="28">28</option>
                                              <option value="29">29</option>
                                              <option value="30">30</option>
                                              <option value="31">31</option>

                                          </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="birthMonth" id="birthMonth" style="width: 110%" class="form-control">
                                              <option value="">MM</option>
                                              <option value="01">01</option>
                                              <option value="02">02</option>
                                              <option value="03">03</option>
                                              <option value="04">04</option>
                                              <option value="05">05</option>
                                              <option value="06">06</option>
                                              <option value="07">07</option>
                                              <option value="08">08</option>
                                              <option value="09">09</option>
                                              <option value="10">10</option>
                                              <option value="11">11</option>
                                               <option value="12">12</option>
                                          </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="birthYear" id="birthYear" style="width: 140%" class="form-control">
                                              <option value="">YYYY</option>
                                              <option value="2005">2005</option>
                                              <option value="2004">2004</option>
                                              <option value="2003">2003</option>
                                              <option value="2002">2002</option>
                                               <option value="2001">2001</option>
                                              <option value="2000">2000</option>
                                              <option value="1999">1999</option>
                                              <option value="1998">1998</option>

                                               <option value="1997">1997</option>
                                              <option value="1996">1996</option>
                                              <option value="1995">1995</option>
                                              <option value="1994">1994</option>

                                               <option value="1993">1993</option>
                                              <option value="1992">1992</option>
                                              <option value="1991">1991</option>
                                              <option value="1990">1990</option>

                                               <option value="1989">1989</option>
                                              <option value="1988">1988</option>
                                              <option value="1987">1987</option>
                                              <option value="1986">1986</option>

                                               <option value="1985">1985</option>
                                              <option value="1984">1984</option>
                                          </select>
                                        </div>
                  </div>                
                </div>   
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label>Matric Number</label>
                     <input type="text"autocomplete="off" name="matricNumber" id="matricNumber"  class="form-control">
                  </div>                 
                </div>
                <div class="col-md-4">
                  <div class="form-group">                                        
                     <label>Programme</label>
                    <input type="text" autocomplete="off" name="programme" id="programme" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label>Room Hall</label>
                     <input type="text" autocomplete="off" name="roomHall" id="roomHall"  class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                     <label>Room Number</label>
                     <input type="text" autocomplete="off" name="roomNumber" id="roomNumber" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label>State of Origin</label>
                      <input type="text" autocomplete="off" name="originState" id="originState" class="form-control">  
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                     <label>Sate of Residence</label>
                    <input type="text" autocomplete="off" name="originResidence" id="originResidence" class="form-control">
                  </div>
                </div>                  
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                           <label>Gender</label>
                           <select name="gender" id="gender" class="form-control">
                                <option value="">Select Gender...</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                           <label>Sub Unit</label>
                           <select name="subUnit" id="subUnit" class="form-control">
                                <option value="">Select Subunit...</option>
                                <option value="Audio">Audio</option>
                                <option value="Visual">Visual</option>
                                </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                           <label>College</label>
                           <select name="college" id="college" class="form-control">
                                <option value="">Select College...</option>
                                <option value="CAS">CAS</option>
                                <option value="CBS">CBS</option>
                                <option value="CSE">CSE</option>
                                </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                             <label>Level</label>
                             <select name="level" id="level" class="form-control">
                                <option value="">Select Level...</option>
                                <option value="100">100 Lvl</option>
                                <option value="200">200 Lvl</option>
                                <option value="300">300 Lvl</option>
                                <option value="400">400 Lvl</option>
                                <option value="500">500 Lvl</option>
                                </select>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                         <label>Role</label>
                       <select name="role" id="role" class="form-control">
                                <option value="">Select role....</option>
                                <option value="Executive">Executive</option>
                                <option value="Member">Member</option>
                                <option value="Probation">Probation</option>
                                </select> 
                  </div>
                </div>  
              </div>
              <div class="row">
                  <div class="box-footer" style="text-align: right"> 
                                    <button type="reset" class="btn btn-warning normal Button">Reset</button>&nbsp;<button type="submit" id="profileSubmit" class="btn btn-success normal Button">Submit</button>
                                    <br/>
                  </div>           
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>              