<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Alarm</h1>
  <p>Manage Alarm Settings
</div> -->
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Manage Alarm Settings</h1>
</div>
<div class="wrapper-md">
  <h4>Alarms!</h4>
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tr style="font-weight: bold">
      <td style="width:35%">Alarms</td>
      <td style="width:20%">Priority</td>
      <td style="width:30%">Type</td>
      <td style="width:20%">Sound</td>
      <td style="width:25%">Actions</td>
    </tr>
    <tr ng-repeat="alarm in alarms">
      <td class="v-middle">
        <!-- editable username (text with validation) -->
        <span editable-text="alarm.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, alarm.id)" e-required>
          {{ alarm.name || 'empty' }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable status (select-local) -->
        <span editable-select="alarm.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
          {{ showStatus(alarm) }}
        </span>
      </td>
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-select="alarm.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(alarm) }}
        </span>
      </td> 
      <td class="v-middle">
        <!-- editable group (select-remote) -->
        <span editable-select="alarm.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
          {{ showGroup(alarm) }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveUser($data, alarm.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == alarm">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
          <button class="btn btn-sm btn-danger" ng-click="removeUser($index)">del</button>
        </div>  
      </td>
    </tr>
  </table>

  <button class="btn btn-default m-b-lg" ng-click="addUser()">Add row</button>

  
    </div> 
    
  </form>
</div>
