<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Attendance Reports</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Search Reports
    </div>
    <div class="panel-body" ng-controller="DatepickerDemoCtrl">
      <form class="form-inline" role="reportForm">
        <div class="form-group">
          <label class="sr-only" for="Services">Services</label>
          <div class="col-sm-10">
            <select ui-jq="chosen" class="w-md">
                <optgroup label="Main Services">
                    <option value="CA">Sunday Service</option>
                    <option value="NV">Tuesday Service</option>
                    <option value="OR">Thursday Service</option>
                </optgroup>
                <optgroup label="Weekly Services">
                    <option value="CA">Moment with Chaplain</option>
                    <option value="NV">Friday Prayer Meeting</option>
                    <option value="OR">Prayer Chain</option>
                </optgroup>
                <optgroup label="Other Services">
                    <option value="CA">Covenant Service</option>
                    <option value="NV">KLC</option>
                    <option value="OR">Probation Service</option>
                    <option value="OR">One Night with the King</option>
                    <option value="OR">Other Service</option>
                </optgroup>

            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="DateRange">Select Date Range</label>
          <div class="input-group w-md">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="TCID"> TCID</label>
          <input type="email" class="form-control" id="tcid" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
      </form>
    </div>
  </div>
</div>
