<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Sunday Attendance</h1>
</div>
<div class="wrapper-md col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Mark Attendance
    </div>
    <div class="panel-body">
      <form class="form-horizontal" method="get">
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-8">
            <input type="text" placeholder="Enter Member's Id" class="form-control">
          </div>
          <label class="col-sm-2 control-label"></label>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-5 col-sm-offset-5">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="wrapper-md col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Timing
    </div>
    <div class="panel-body">
      <div class="panel panel-info">
        <div class="panel-body">
          <!-- <a href class="thumb pull-right m-l m-t-xs avatar">
            <img src="img/a4.jpg" alt="...">
            <i class="on md b-white bottom"></i>
          </a>
          <div class="clear">
            <a href class="text-info block m-b-xs">@Mike Mcalidek <i class="icon-twitter"></i></a>
            <a href class="btn btn-addon btn-sm btn-info m-t-xs"><i class="fa fa-eye"></i> Follow</a>
          </div> -->
          <ds-widget-clock show-digital theme="blue-light"></ds-widget-clock>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: -30px" class="col-md-12" ng-controller="TableCtrl">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Recently Marked
    </div>
    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>LASTNAME</th>
        <th>FIRSTNAME</th>
        <th>GENDER</th>
        <th>TCID</th>
        <th>TIME</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in rowAttendanceDummy" st-select-row="row">
        <td>{{row.firstName}}</td>
        <td>{{row.lastName}}</td>
        <td>{{row.gender}}</td>
        <td>{{row.tcid}}</td>
        <td>{{row.time}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
