<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Add News</h1>
</div>

<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">News Form</div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label>Title</label>
              <input type="email" class="form-control" placeholder="Enter Headline">
            </div>
            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" placeholder="Enter News Content"></textarea>
            </div>
            <div class="checkbox">
              <label class="i-checks">
                <input type="checkbox" checked disabled><i></i> Make this post sticky
              </label>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
   </div>
</div>