<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">News</h1>
</div>

<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-12 connected" ui-jq="sortable" ui-options="{items:'.panel', handle:'.panel-heading', connectWith:'.connected'}">
      <div class="panel panel-default">
        <div class="panel-heading">
          News <span class="badge">32</span>                    
        </div>
        <div class="panel-body">
          <article class="media">
            <div class="pull-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bold fa-stack-1x text-white"></i>
              </span>
            </div>
            <div class="media-body">                        
              <a href class="h4">Bootstrap 3: What you need to know</a>
              <small class="block m-t-xs">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
              <em class="text-xs">Posted on <span class="text-danger">Feb 23, 2013</span></em>
            </div>
          </article>
          <div class="line pull-in"></div>
          <article class="media">
            <div class="pull-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-file-o fa-stack-1x text-white"></i>
              </span>
            </div>
            <div class="media-body">
              <a href class="h4">Bootstrap documents</a>
              <small class="block m-t-xs">There are a few easy ways to quickly get started with Bootstrap, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</small>
              <em class="text-xs">Posted on <span class="text-danger">Feb 12, 2013</span></em>
            </div>
          </article>
          <div class="line pull-in"></div>
          <article class="media">
            <div class="pull-left">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-mobile fa-stack-1x text-white"></i>
              </span>
            </div>
            <div class="media-body">
              <a href class="h4 text-success">Mobile first html/css framework</a>
              <small class="block m-t-xs">Bootstrap, Ratchet</small>
              <em class="text-xs">Posted on <span class="text-danger">Feb 05, 2013</span></em>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>